<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<footer class="text-body-black py-5 bg-light border border-secondary-subtle border-top">


  <div class="wrapper">

    <div class="row">

      <div class="col-md-5 my-3">
        <p class="mb-2">&copy; {{ site.time | date: "%Y" }} Selvakumaran Krishnan. All rights reserved.</p>
        <p class="mb-0">
    
          <a class="me-2" target="_blank" href="https://www.wikimint.com/p/legal.html#privacy">Privacy</a>
           <a class="me-2" target="_blank" href="https://www.wikimint.com/p/legal.html#terms">Terms</a>
           <span class="me-2">Sitemaps</span>
    
           <a href="/sitemap" class="me-2">
             <img src="https://img.shields.io/badge/HTML-5-orange?logo=html5&logoColor=white&style=flat-square" alt="HTML Badge">
           </a>
     
           <a href="/sitemap.xml" target="_blank" class="me-2">
             <img src="https://img.shields.io/badge/XML-1.0-blue?logo=xml&logoColor=white&style=flat-square" alt="XML Badge">
           </a>
           <p class="mt-4">
            <span class="page_rank"></span>
            <span id="visitors"><script type="text/javascript" src="https://freehitcounters.org/count/gd7m"></script><a href='https://www.versicherungen.at/zahnversicherung/'>private Zahnversicherung</a> <script type='text/javascript' src='https://whomania.com/ctr?id=ded39fa315db55d80bc0ab386f5500f952a2b5c5'></script></span>

            

 
           </p>
           
     
          </p>
      </div>
      <div class="col-md-5 my-3">
        <h2 class="fs-5">Disclaimer</h2><hr/>
        <p>While I aim to provide top-quality services and accurate information, the content on this website is subject to change based on evolving technologies and best practices. By using this site, you agree to consult directly for tailored advice or specific project needs.</p>
      </div>
      <div class="col-md-2 my-3">
        <div class="social-icons mb-3 text-md-end">
          
          <a href="http://github.com/selvaklnc" aria-label="Explore projects of Selvakumaran Krishnan on GitHub" title="Explore my projects on GitHub" class="me-3 text-secondary" target="_blank">
              <i class="bi bi-github"></i>
          </a>
          <a href="http://linkedin.com/in/selvakumaran-krishnan" aria-label="Connect with Selvakumaran Krishnan on LinkedIn" title="Connect with me on LinkedIn" class="me-3  text-secondary" target="_blank">
              <i class="bi bi-linkedin"></i>
          </a>
          <a href="http://facebook.com/selvakumarank" aria-label="Join Selvakumaran Krishnan on Facebook" title="Join me on Facebook" class="me-3 text-secondary" target="_blank">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="http://twitter.com/selvakumarankri" aria-label="Follow Selvakumaran Krishnan on Twitter" title="Follow me on Twitter" class="text-secondary" target="_blank">
            <i class="bi bi-twitter"></i>
        </a>
      </div>
      <p class="d-block mb-1 text-md-end">
      
        <a href="#">Back to top</a>
      </p>
      </div>

    </div>
    
   
  </div>
</footer>

<script type="text/javascript" src="/assets/js/script.js"></script>