<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" sizes="120x120">
  {%- include custom-head.html -%}
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YPRV796FF9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YPRV796FF9');
</script>
  <script src="/assets/lib/jquery.min.js"></script> 
  <link rel="stylesheet" href="/assets/lib/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href="/assets/lib/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/custom.css?v=2">



</head>
