.card-img{
width:100% ! important;
height:200px ! important;
max-height:200px ! important;
margin:auto ! important;
opacity:0.3;
border-radius:0px ! important;
object-fit: cover ! important;
}
.img-cont{
    background: #000;
}
.projects-card .tag{
    position: absolute;
    margin-top: 26px;
    z-index: 999;
    border-radius: 0 36px 36px 0 ! important;
    text-transform: capitalize;
}

#techStack td img{
    display:block;
    margin:auto;
}
#techStack .card-body{
    padding:0px;
}
#techStack td:first-of-type{
    text-align:center;
}
#posts-container img{
    max-height:150px;
}
#posts-container h3,
#posts-container p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#posts-container h3{
    -webkit-line-clamp: 1;
}

.sticky-top{
    top:80px ! important;
    z-index:999 ! important;
}
header.sticky-top{
    top:0 ! important;
    z-index:999999999 ! important;
}
#visitors a:nth-of-type(2){
visibility:hidden;
}
a{
    color:blue;
}

hr.ray{
    opacity:1 ! important;
    margin: 35px 0;
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #fff, #0077b5, #fff);
    background-image: -moz-linear-gradient(left, #fff, #0077b5, #fff);
    background-image: -ms-linear-gradient(left, #fff, #0077b5, #fff);
    background-image: -o-linear-gradient(left, #fff, #0077b5, #fff);
}
.ray-title:before{
    content:"";
    display:block;
    opacity:1 ! important;
    margin: 35px 0;
    margin-bottom:-18px;
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #fff, #0077b5, #fff);
    background-image: -moz-linear-gradient(left, #fff, #0077b5, #fff);
    background-image: -ms-linear-gradient(left, #fff, #0077b5, #fff);
    background-image: -o-linear-gradient(left, #fff, #0077b5, #fff);
}

.custom-tooltip {
    --bs-tooltip-bg: #5468ff;
    --bs-tooltip-color: #ffffff;
  }
  .skills p{
    display:none;
}
.hero-image{
    will-change: transform;
    transform: rotate(10deg);
    transition: transform .2s ease-out;
}

.image-with-lines-1,
.image-with-lines-2,
.image-with-lines-3,
.image-with-lines-4,
.image-with-lines-5{
    position: relative;
    display: inline-block;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
 background:#f2f2f2;

    will-change: transform;
    transform: rotate(-60deg);
    transition: transform .2s ease-out;
  }

.image-with-lines-5{
    transform: rotate(10deg);

  }

.image-with-lines-4{
    transform: rotate(20deg);

  }

  .image-with-lines-3{
    transform: rotate(20deg);

  }
  .image-with-lines-2{
    transform: rotate(20deg);

  }
  .image-with-lines-1:hover,
.image-with-lines-2:hover,
.image-with-lines-3:hover,
.image-with-lines-4:hover,
.image-with-lines-5:hover,
.hero-image:hover{
    
    will-change: transform;
    transform: rotate(0deg);
    transition: transform .2s ease-out;
}